/* used by Vuetify */
$body-font-family: "Noto Sans JP", sans-serif;
$col-primary: #37b7c7;
$col-error: #e39a9a;

/* mot used by Vuetify */
$col-primary-light: #9edfe6;
$col-white: #fff;
$col-error: #e39a9a;
$col-grey-1: #eee;
$col-grey-2: #ccc;
$col-grey-3: #aaa;
$col-grey-4: #777;
$col-black: rgba(0, 0, 0, 0.87);
$border-radius: 3px;
$col-dropshadow: rgba(0, 0, 0, 0.16);
